<ion-card>
  <ion-img class="img" *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" alt="..."></ion-img>
  <ion-img class="img" *ngIf="!noticia.urlToImage" alt="..." src="../../../assets/img/image-placeholder-300x200.png"></ion-img>

  <br>
  <ion-card-title class="title">
    {{noticia.title}}
  </ion-card-title>
  <br>
  <ion-card-subtitle class="sub">
    {{noticia.description}}
  </ion-card-subtitle>
  <ion-card-content class="cont">
    {{noticia.content}}
  </ion-card-content>
</ion-card>
