<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment scrollable mode="md" (ionChange)="changeCategory($event)">
    <ion-segment-button [value]="categoria" mode="md" *ngFor="let categoria of categorias">
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-noticias [noticias]="noticias"></app-noticias>

</ion-content>
