.img{
  margin-top: 10px;
  height: 180px;
  border-radius: 40%;
}

.sub{
  text-align: justify;
}

.cont{
  text-align: justify;
}

.title{
  text-align: justify;
}

.news{
  height: 30px;
  margin-top: -30px;
}

